{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
      
    <h1>Wszystkie pożyczone egzemplarze</h1>
    
    
    {% if egzemplarz_list %}
    <ul>

      {% for egzempl in egzemplarz_list %} 
      <li>
        <a href="{% url 'szczegoly_ksiazki' egzempl.ksiazka.pk %}">
        {{egzempl.ksiazka.tytul}}
      </a> 
      ({{ egzempl.zwrot }}) {% if user.is_staff %}- {{ egzempl.odbiorca }}{% endif %}
      {% if perms.catalog.can_mark_returned %} - <a href="{% url 'przedluzenie' egzempl.id %}">Przedłużenie</a>{% endif %}
      </li>
      {% endfor %}
      
    </ul>

    {% else %}
      <p>Nie ma pożyczonych książek</p>
    {% endif %}

    </div>
           
{% endblock %}