{% extends "base_generic.html" %}
{% load static %}
{% block content %}

    <div class="container">
      <h1 class="book__header">Lista książek</h1>

      <div class="books__list">
        {% if ksiazka_list %}
          {% for ksiazka in ksiazka_list %}

            <div class="book__item">
              <div class="book__picture">
                {% static 'ksiazki/' as obrazy %}
                <a href="{{ ksiazka.get_absolute_url }}"><img src="{{obrazy}}/{{ksiazka.obraz}}" alt=""></a>
              </div>
              
              <div class="book__title">
                <a href="{{ ksiazka.get_absolute_url }}">{{ ksiazka.tytul }}</a> <br>({{ksiazka.autor}})
              </div>
            </div>

          {% endfor %}
        {% else %}

          <p>Nie ma książek w bibliotece</p>

        {% endif %}
      </div>

      {% if is_paginated %}
      <div>
          <span>
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">poprzednia</a>
              {% endif %}
              <span>
                  Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">następna</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
    
    </div>

    
    
{% endblock %}

